rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Regras para a coleção 'users'
    match /users/{userId} {
      // Permitir leitura e escrita apenas se o usuário estiver autenticado e for o proprietário dos dados
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Regras para a coleção 'disciplines' (disciplinas do usuário)
    match /disciplines/{disciplineId} {
      // Permitir leitura e escrita apenas se o usuário estiver autenticado e for o proprietário dos dados
      allow read, write: if request.auth != null && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }
    
    // Regras para a coleção 'summaries' (resumos do usuário)
    match /summaries/{summaryId} {
      // Permitir leitura e escrita apenas se o usuário estiver autenticado e for o proprietário dos dados
      allow read, write: if request.auth != null && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }
    
    // Regras para a coleção 'backups' (backups do usuário)
    match /backups/{backupId} {
      // Permitir leitura e escrita apenas se o usuário estiver autenticado e for o proprietário dos dados
      allow read, write: if request.auth != null && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }
    
    // Regras para a coleção 'certificados' (certificados do usuário)
    match /certificados/{certificadoId} {
      // Permitir leitura e escrita apenas se o usuário estiver autenticado e for o proprietário dos dados
      allow read, write: if request.auth != null && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }
    
    // Regras para a coleção 'academicHistory' (histórico acadêmico do usuário)
    match /academicHistory/{userId} {
      // Permitir leitura e escrita apenas se o usuário estiver autenticado e for o proprietário dos dados
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Regras para a coleção 'graduationRequirements' (requisitos de formatura do usuário)
    match /graduationRequirements/{userId} {
      // Permitir leitura e escrita apenas se o usuário estiver autenticado e for o proprietário dos dados
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Negar acesso a todas as outras coleções
    match /{document=**} {
      allow read, write: if false;
    }
  }
} 