/* Status Colors */
tr[data-resultado='AP'] {
  background-color: rgba(34, 197, 94, 0.1);
}

tr[data-resultado='RR'] {
  background-color: rgba(239, 68, 68, 0.1);
}

tr[data-resultado='TR'] {
  background-color: rgba(245, 158, 11, 0.1);
}
