/* Icon Styles */
.fas {
  color: var(--icon-color);
  transition: color 0.2s ease;
}

h1 .fas,
h2 .fas,
h3 .fas {
  margin-right: 0.5rem;
  color: var(--primary);
}

button .fas {
  color: white;
  margin-right: 0.5rem;
}
